.svg{
    position: sticky;
    z-index: 2;
    bottom: 5vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
} 


@media only  screen and (max-width:500px){
        
    .svg{
        bottom: 10vw;
    }
}