.mainFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 40vw;
}

.footerimg {
  /* background-size: cover; */
  object-fit: cover;
  position: relative;
  width: 100%;
  height: fit-content;
  filter: brightness(15%);
  height: 40vw;
}

.semiFooter {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
}
.semiMainFooter {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  width: 25%;
}
.footerContainerSocial {
  display: flex;
  flex-direction: column;
  color: white;
  width: 10%;
}

.footerIcon {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  /* width: 25%; */
  justify-content: space-between;
}

.copyright {
  text-align: center;
  margin-bottom: 4px;
  color: lightgray;
}

.footerA {
  margin-top: 15px;
  /* margin-bottom: 3px; */
  cursor: pointer;
  color: lightgray;
  text-decoration: none;
  font-size: 14px;
  /* text-align: center; */
}

.footerSocial {
  color: lightgray;
}

.footerPara {
  font-size: 14px;
  /* margin-top: 15px; */
  line-height: 22px;
  color: lightgray;
  margin-top: 15px;
}

@media only screen and (max-width: 800px) {
  .mainFooter {
    height: 100vw;
  }

  .semiFooter {
    height: max-content;
  }
  .semiMainFooter {
    flex-direction: column;
    align-items: center;
  }

  .footerimg {
    height: 100vw;
  }

  .footerContainer {
    text-align: center;
    margin-bottom: 8vw;
    width: 100%;
  }

  .footerContainerSocial {
    margin-bottom: 2vw;
    width: 30%;
  }

  .footerIcon {
    margin-top: 15px;
    justify-content: space-between;
  }
  /*  */
}

@media only screen and (max-width: 600px) {
    .footerContainer {
        text-align: center;
        margin-bottom: 10px;
        width: 100%;
      }


  .footerA {
    font-size: 9px;
    letter-spacing: 0.5px;
    font-family: "'Alegreya SC', serif";
    margin-top: 5px;
  }

  .footerIcon {
    margin-top: 10px;
    justify-content: space-evenly;
    
  }

  .copyright {
    font-size: 12px !important;
    height: "0.5px" !important;
  }

  .footerPara {
    font-size: 10px;
    margin-top: 5px;
    line-height: 20px;
  }

  .footerContainerSocial {
    width: 40%;
    text-align: center !important;
    margin-bottom: 10px;
    /* padding-bottom: 20px; */
  }
  /* .copyright{
        font-size: 15px !important;
    } */
}
