.mainFooter{
    width:100%;
    background-color:#1f1f1f;
    /* padding:"8vw" */
    padding-top: 12vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* position: fixed;
    bottom:0px; */
}

.semiMainFooter{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto auto 8vw auto;
}


.footerContainer{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    width: 25%;
}
.footerContainerSocial{
    display: flex;
    flex-direction: column;
    color: white;
    width:10%
}

.footerIcon{
    display:flex;
    flex-direction: row;
    margin-top: 15px;
    /* width: 25%; */
    justify-content: space-between;

    
}

.copyright{
    text-align: center;
    margin-bottom: 4px;
    color: lightgray;

}

.footerA{
    margin-top: 15px;
    /* margin-bottom: 3px; */
    cursor: pointer;
    color: lightgray;
    text-decoration: none;
    /* text-align: center; */
}

.footerSocial{
    color: lightgray;
}

.footerPara{
    font-size: 15px;
    margin-top: 15px;
    line-height: 22px;
    
}

@media only  screen and (max-width:800px){
   .semiMainFooter{
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .footerContainer{
    text-align: center;
    margin-bottom: 15vw;
    width: 100%;
   }

   .footerContainerSocial{
    margin-bottom: 2vw;
    width: 30%;
    
   }

   
   .footerIcon{
    margin-top: 15px;
    justify-content: space-between;
}

}

@media only  screen and (max-width:600px){
    .footerA{
        font-size: 10px;
        letter-spacing: 0.5px;
        font-family:"'Alegreya SC', serif"
    }

    .footerIcon{
        margin-top: 15px;
        justify-content: space-evenly;
    }

    .copyright{
        font-size: 9px !important;
        height:"0.5px"!important;
    }

    .footerPara{
        font-size: 10px;
        line-height: 20px;
    }

    .footerContainerSocial{
        width: 40%;
        text-align: center !important;
    }

}